<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title></title>
    <style>
      body{
        background: url("/Images/phish.jpg");
      }
    </style>
  </head>
  <body>

    <center>
      <div class="input-group input-group-lg" style="width: 1000px;">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-lg">Enter a URL:</span>
        </div>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
      </div>
    </center>

    <center>
      <button type="button">
        Submit
      </button>
    </center>

  </body>
</html>
