<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Phishing Url Detection</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <style>

    </style>
  </head>
  <body style="background-image: url('https://www.it.ucla.edu/sites/g/files/yaccgq956/f/february-security-article-image-phishing-blank992x500.jpg');">
    <center><h1>Phishing Url Detection</h1></center>
    <center>
      <div class="input-group input-group-lg" style="width: 1000px;">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-lg">Enter a URL:</span>
        </div>
        <input type="text" class="form-control" id="url" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" value="">
      </div>
    </center>

    <center>
      <button type="button" class="getResult">
        Submit
      </button>
    </center>
    <div class="result"></div>

  </body>
  <script>



   document.getElementsByClassName("getResult")[0].addEventListener("click",result);
   function result(){

     var div = document.querySelector(".result");
      var urlname = document.getElementById('url').value;
 		$.ajax({
 			data : {
 				name : urlname
 			},
 			type : 'GET',
 			url : '/result'
 		}).always(div.innerHTML= '<h1>Processing...</h1>')
 		.done(function(data) {

 			if (data.error) {
 				alert(data.error);
 			}
 			else {

        var newHTML = '<h2>Your Site is '+data+'</h2>';
        div.innerHTML=  newHTML;
      }

 		});


   }




  </script>
</html>
